<h1>Most Recent blogs:</h1>
<ul>
<% @blogs.each do |blog| %>
<b>
  <li>
  <%= link_to "#{blog.title}", blog %>
  </li>
</b>
<% end %>
</ul>
<br />

<h1>Most Popular blogs:</h1>
<ul>
<% @blogs_p.each do |blog| %>
<b>
  <li>
  <% link_to blog do %>
    <span><%= blog.title %> - [<%=  blog.rating %><%= image_tag "star.gif", :id => "nob" %>]</span>
  <% end %>
  </li>
</b>
<% end %>
</ul>
<br />

<%= link_to 'New blog', new_blog_path %>

