<div class="blog_show">
  <h2 class="blog_show" ><%=h @blog.title -%></h2>
  <span>
    <% if @blog.user_id? %>
      By <%= (User.find_by_id(@blog.user_id)).login %>,
      <% end%><small>
    at <%= @blog.updated_at.to_s.gsub(/ UTC.*/,"")%>
    (<%= @blog.rating %><%= image_tag "star.gif", :id => "nob", :width => 12, :height => 12 %>)</small>
  </span>
  <hr class="blog_show" />
  <p>
    <% simple_format(auto_link(@blog.content)) %>
    <%= (@blog.content) %>
  </p>
  <br />
  <br />
  <% if current_user != nil %>
    <% if @blog.user_id == current_user.id %>
      <div class="clearfix">
        <%= link_to 'Edit', edit_blog_path(@blog), :class => 'lnk_first' %>
        <%= link_to 'Delete', @blog, :class => 'lnk', :confirm => 'Are you sure?', :method => :delete %>
      <% else %>
        <% form_tag :action => :inc_rating do %>
          <div class="clearfix">
            <%= image_tag "t-up.jpg", :class => 'img' %>
          <% end %>
        <% end %>
        <%= link_to 'Back', blogs_path, :class => 'lnk' %>
      </div>
    <% end %>
</div>  
<div class="blog_show_comments_section">
  <%= render 'comment_form' %>
</div>
  <div id="all_comments">
  <%= render :partial => 'comment_show', :collection => @blog_comments %>
  </div>
